.main-header {
    background-color: #ff6600;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    width: 85%;
    margin: auto;
    margin-top: 7px;
    height: 25px;
    font-weight: bold;
    display: flex;
    vertical-align: middle;
    text-justify: auto;
}

.logo {
    width: 18px;
    height: 18px;
    border:1px white solid;
    color: white;
    margin-right: 3px;
    margin-left: 3px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: table-cell; 
}

.hacker-tag {
    align-self: center;
    margin-right: 10px;
}

.nav {
    width: 360px;
    align-self: center;
    display: flex;
    justify-content: space-around;
}

.nav-item, .login {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #222222;
    line-height: 12px;
    font-weight: normal;
}

.login  {
    align-self: center;
    margin-right: 6px;
}

.space {
    flex-grow: 3;
}

.storyContainer {
    width: 85%;
    margin: auto;
    background-color: #F5F4ED;
}

.story {
    width: 600px;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}

.story-title:link {
    color: #000000;
    text-decoration: none;
}

.story-title:hover {
    text-decoration: underline;
}

.story-header, .story-body {
    display: flex;
    gap: 10px;
}

.story-body {
    font-size: 8pt;
    color: #888887;
    margin-left: 25px;
}

.story-index {
    color: #888887;
}